.mainbox{
    max-width: 60%;
    min-width: 340px;
    margin: 50px auto;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main2{
      /* position:;
    max-width: 100%;
    height: 200%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
         */
         display: flex;
         justify-content: center;
         left: 0;
         top: 25%;
         width: 100%;
         height: 73%;
         
}

.profile1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
   
}

.profile2 {
    position: relative;
    display:flex;
   
    flex-direction: column;
    width: 70%;
    background-color:white;
    border-radius: 25px;
}

.profile21{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    background-color: white;
}
.profile22{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    background-color: white;
}
.fullname{
    position: relative;
    display: flex;
    flex-direction: column;
    width:50%;
    
}

.fullname1{
    position: relative;
    display: flex;
    flex-direction: column;
    width:50%;
   
}

.button{
    position: relative;
    width:10%; 
    align-self: center;
    font-weight: bolder;
    font-size: larger;
    background-color: rgb(6, 6, 76);
    color: white;
    border-radius: 25px;
}



.perinfo{
    position: relative;
    top: 0%;
   
    width:100%;
    text-align: left;
    font-size:large;
    color: rgb(7, 7, 77);
    font-weight: bolder;
    
}

.fullname11{
    position: relative;
    text-align: left;
    top:10%;
    width:80%;
    color: rgb(7, 7, 77);
    font-size:small;

}

.fullname12{
    position: relative;
    top:13%;
    text-align: left;
    width:80%;
    color: rgb(7, 7, 77);
    font-size:medium;
   
}

.photo{
    position: relative;
    width: 50%;
    top:5%;
    left:25%;
   
}
.button1{
    position: relative;
    width:50%;
    top:10%;
    align-self: center;
    font-weight: bolder;
    font-size: larger;
    background-color: rgb(6, 6, 76);
    color: white;
    border-radius: 25px;
}
