.nav {
  height: calc(10vw + 20px);
  background-image: url('./Vector.png');
  background-size: 100% 100%;
}

.nav-list {
  width: 68%;
  height: 50px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  background-color: white;
  border-radius: 35px;
  font-family: patuaOne;
  display: flex;
  list-style: none;
  font-size: larger;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-list > li,a,span {
  cursor: pointer;
}

.nav-list a {
  text-decoration: none;
  color: #3C286D;
}

.site_icon {
  height: 120px;
}

.material-icons.white {
  color: white;
  cursor: pointer;
}

.nav-icons {
  padding-bottom: 13vw;
}

.hamburger {
  padding: 0 12px 13vw;
}

@media all and (max-width: 1024px) {
  .nav {
    height: calc(10vw + 70px);
  }
}

@media all and (max-width: 769px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media all and (max-width: 425px) {
  .site_icon {
    height: 100px;
  }
}